.counter{
      background-color: rgb(12, 10, 26);
      height: 40px;
      top: 0;
      width: 100%;
      position: fixed;
      
}
.element{
      color:whitesmoke;
      align-items: center;
      
}
.dash{
      margin-right: 14%;
      margin-left: 20%;
      margin-top: 10%;
}

.link{
      margin-left: 90%;
      margin-right: 10px;
}
.logout{
      margin-left: 90%;
      margin-top: 30px;
      color:black;
}
