<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand"></a>
    <form class="form-inline">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <button class="btn btn-outline-success my-2 my-sm-0" type="Login" routerLink="/auth/login">Login</button>
      <span></span>
      <button class="btn btn-outline-success my-2 my-sm-0" type="SignUp" routerLink="/auth/signup">SignUp</button>
    </form>
  </nav>
<div class="container-fluid" class="cl" >

    <form [formGroup]="regForm" (ngSubmit)="callpost()" class="form1" >
        
        <div class="form-group" >
            <label class="bg">Email</label>
        <input  formControlName="email"  class="form-control" class="size">
        <span class="bg" *ngIf="emailValidator && emailValidator.invalid && emailValidator.touched">  Username is required</span>
        </div>
        
       
        <div class="form-group">

            <label class="bg">password</label>
            <input formControlName="password"  class="form-control" type="password" class="size">
            <span class="bg" *ngIf="passwordValidator && passwordValidator.invalid && passwordValidator.touched">  Minimum length of 8 for password is required</span>
        </div>
        
        <div class="form-group">
            <input   type="submit"  value="Login" class="btn btn-primary"  >
        </div>

        
        
    
    </form>     
</div>
<a href="#" class="link-primary"  routerLink="/auth/signup" class="sign">SignUp</a>



