<div class="side1">
    <div >
        
        <div class="border-end bg-white" >
            <div class="list-group list-group-flush" class="p-3 mb-2 bg-info text-dark">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"  routerLink="/main/dashboard">Profiles</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"  routerLink="/auth/login">LogOut</a>
                
            </div>
        </div>
        
        
    </div>   
</div>
<div class="side">
    <table class="table" >
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Company</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td> <input value=""></td>
            <td> <input value=""></td>
            <td> 
            <select formControlName="gender"  class="form-control" >
                <option value="male">Male</option>
	            <option value="female">Female</option>
                
            </select>
            <td>
            <td><input value=""></td>
          </tr>
          
        </tbody>
      </table>
</div>